{% extends 'index.html' %}

{% block content %}
<div class="col-md-6 col-md-offset-4">
	<h1>Products by Category</h1>
</div>
<div class="row">
	{% for category in category_list %}
	<div class="col-md-10 col-md-offset-2">
		<h3><a href="{% url 'bang_app:product_list' id=category.id %}">{{ category.label }}</a></h3>
		{% for p in category.products %}
			<h5>Total Items in Category = ({{p.quantity}})</h5>
			<h4><a href="{% url 'bang_app:product_detail' id=p.id %}">{{p.name}}</a></h4>
		{% endfor %}
	</div>
	{% endfor %}
</div>

{% endblock%}