{% extends 'bang_app/index.html' %}

{% block navbar %}
<nav>
	<ul class="nav nav-pills">
	  <li role="presentation"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#">Profile</a></li>
	  <li role="presentation"><a href="#">Shopping Cart</a></li>	
	  <li role="presentation"><a href="#">Sell an Item</a></li>
	  <li role="presentation"><a href="#">Log Out</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
  <h1>Enter the product information to add a new product for sale</h1>
  <h2>Hello, Suzy!</h2>
</div>

<div class="input-group">
  <form class="" action="{% url bang_app:create_product %}" method="post">
    {% csrf_token %}
    <input type="text" class="form-control" name="product_name" value="" placeholder="Enter Product Name">
    <input type="text" class="form-control" name="description" value="" placeholder="Enter Description">
    <input type="text" class="form-control" name="price" value="" placeholder="Enter Price">
    <input type="text" class="form-control" name="quantity" value="" placeholder="Enter Quantity">
  </form>
  <button type="submit">Create New Product</button>
</div>

{% endblock %}



