{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Bangazon Initial Website</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">Bangazon</a>
	</div>

	{% if user.is_authenticated %}
	<!-- Menu Right Justified -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Welcome, {{ user.first_name }} {{ user.last_name }}</a></li>
			<li><a href="{% url 'bang_app:order_detail_view' %}"><span class="glyphicon glyphicon-shopping-cart"></span> {{ total }}</a></li>
			<li><a href="{% url 'bang_app:customer_logout' %}">Logout</a></li>
	 </ul>

	<!-- Menu Left Justified -->
		<ul class="nav navbar-nav">
			<li><a href="{% url 'bang_app:categories' %}">Products</a></li>
			<li><a href="{% url 'bang_app:new_product' %}">Sell</a></li>
	  </ul>

	  {% else %}
	  <!-- Menu Left Justified -->
	  <ul class="nav navbar-nav">
			<li><a href="{% url 'bang_app:categories' %}">Products</a></li>
	  </ul>

	  <!-- Menu Right Justified -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{% url 'bang_app:login' %}">Login</a></li>
			<li><a href="{% url 'bang_app:register' %}">Register</a></li>
	 </ul>



	{% endif %}
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>








{% block content %}
<div class="col-md-8 col-md-offset-4">
	<h1>Welcome to Bangazon</h1>
</div>
{% endblock %}

<script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>
