{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Bangazon Initial Website</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

<nav>
	<ul class="nav nav-pills">
	{% if user.is_authenticated %}
		<li role="presentation"><a href="{% url 'bang_app:categories' %}">Products</a></li>
		<li role="presentation"><a href="#">Shopping Cart</a></li>
		<li role="presentation"><a href="{% url 'bang_app:new_product' %}">Sell an Item</a></li>
		<li role="presentation"><a href="#">Profile</a></li>
		<li role="presentation"><a href="{% url 'bang_app:order_detail_view' %}">Cart</a></li>
        <li role="presentation"><a href="{% url 'bang_app:customer_logout' %}">Logout</a></li>
	{% else %}
		<li role="presentation"><a href="{% url 'bang_app:login' %}">Login</a></li>
		<li role="presentation"><a href="{% url 'bang_app:register' %}">Register</a></li>
		<li role="presentation"><a href="{% url 'bang_app:categories' %}">Products</a></li>
	{% endif %}
	</ul>
</nav>

{% block content %}
<h1>Welcome to Bangazon</h1>
{% endblock %}

<script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>
