{% extends 'index.html' %}
{% load bang_app_extras %}
{%block navbar%}
{% endblock %}


{% block content %}
<div class="col-md-8 col-md-offset-3">

	{# checks to see if the user has a currently active order. If they do, the order detail/checkout page is rendered with all appropriate affordances#}
	{% if line_items %}

	{# beginning of checkout form #}
	<form action="{%url 'bang_app:close_order' %}" method="post">
	
		{# hidden fields #}
		{% csrf_token %}
		<input class="hidden" type="text" name="customer_order_id" value="{{customer_order_id}}">

		{# Order Details #}
		<h1>Your Orders</h1>

		<div class="row">
				<div class="col-md-4"><strong>Name</strong></div>
				<div class="col-md-4"><strong>Quantity</strong></div>
				<div class="col-md-4"><strong>Price</strong></div>
			</div>

		{% for line in line_items %}
	
			<div class="row">
				<div class="col-md-4"><strong>{{ line.product.name }}</strong><br>{{ line.description }}</div>
				<div class="col-md-4">{{ line.quantity }}</div>
				<div class="col-md-4">$ {{ line.quantity|multiply:line.product.price }} </div>
			</div>

		{% endfor %}


		<h3>Order Total: ${{order_total}}</h3>

		<hr>

		{# Payment Options #}
		{% if payment_options %}
		<h3>Select a payment type:</h3>

		<select>
			{% for option in payment_options %}
			
				<option value="{{ option.id }}">{{ option.card_type }}</option>
			
			{% endfor %}
		</select>

		<p><a href="{% url 'bang_app:create_payment_type_view' %}">Create a new payment type</a></p>

		<button type="button" class="btn btn-primary">Complete Checkout</button>


		{# No payment types #}
		{% else %}
		<p class="text-danger">You have no available payment options.</p>
		<p><a href="{% url 'bang_app:create_payment_type_view' %}">Create a new payment type</a></p>
		{% endif %}

	</form>
</div>

{# if the user does not have an active order, they are provided a link to the home page #}
	{% else %}
	<h3>You have no items in your current order</h3>
	<a href="{% url 'bang_app:categories' %}">Shop for Products</a>
	{% endif %}

</div>
{% endblock %}

