{% extends 'index.html' %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
  <h1>Product Details</h1>
    {% for product in product_detail %}
    <div class="col-md-8">
      <h2>{{ product.name }}</h2>
      <h3>Description: {{ product.description }}</h3>
      <h3>${{ product.price }}</h3>
      <h4>Category: {{ product.product_type }}</h4>
    </div>
  {% endfor %}
</div>

<div class="col-md-8 col-md-offset-2">
  {% if user.is_authenticated %}
  <button class="btn-danger">Add Product to Shopping Cart</button>
{% endif %}
</div>
{% endblock %}
