{% extends 'index.html' %}

{% block content %}

<div class="col-md-8 col-md-offset-4">             
	{% for product in product_detail %}
    <h1>{{ product.name }}</h1>
  	<h5>{{ product.description }}</h5>
    <h4>${{ product.price }}</h4>
	
  
  {% if user.is_authenticated %}
	 <form class="" action="{% url 'bang_app:list_line_items' %}" method="post">
	{% csrf_token %}
		<input value= "{{ product.pk }}" name="product_pk" class="hidden">
        <div>
            <span>Qty:</span>
            <select name="product_quantity">
                {% for x in product_quantity %}
                    <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
		<button type="submit" class="btn-success">Buy Product</button>
	</form>

  {% endif %}
  {% endfor %}
</div>

{% endblock %}
