{% extends 'index.html' %}


{% block content %}
<div class="col-md-8 col-md-offset-2">
  <h1>Select your category</h1>

<div class="input-group">
  <form class="" action="{% url 'bang_app:new_product' %}" method="post">
    {% csrf_token %}
    <select class="form-control" name="category_list">
        <option>Select Category</option>
    {% for category in category_list %}
        <option value="{{ category.id }}">{{ category }}</option>
    {% endfor %}
        <option value"new">Create New Category</option>
    </select>
  <button type="submit">Create New Product</button>
  </form>
</div>
</div>

{% endblock %}